<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>My Playground</string>
	<key>Pages</key>
	<array>
		<string>Welcome.playgroundpage</string>
		<string>Evolution.playgroundpage</string>
		<string>Gene.playgroundpage</string>
		<string>Natural Selection.playgroundpage</string>
		<string>Isolation.playgroundpage</string>
		<string>Selective Breeding.playgroundpage</string>
		<string>That&apos;s It!.playgroundpage</string>
	</array>
</dict>
</plist>
