<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/3EEB83E7-F664-45AF-AC5B-3DA7C3E30C7E.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/3EEB83E7-F664-45AF-AC5B-3DA7C3E30C7E.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/Evolution.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/Gene.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/Gene.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/Isolation.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/Natural Selection.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/Selective Breeding.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/That's It!.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/Welcome.playgroundpage/ResultInfo.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/Background.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/ButtonBackground.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/ButtonStyle.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/DescriptionView.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/Element.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/ElementSymbol.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/EmitterView.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/EvolutionView.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/Extensions.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/GeneView.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/Generation.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/IsolationView.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/NaturalSelectionView.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/PlaceIndicator.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/ResultView.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/SelectiveBreedingView.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/Storage.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/ThatsItView.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/TitleView.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/WelcomeEmitterView.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/WelcomeView.swift</key>
		<string>Added</string>
		<key>UserModules/PublicModule.playgroundmodule/Sources/YearIndicatorView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Background.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/ButtonBackground.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/ButtonStyle.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/DescriptionView.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Element.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/ElementSymbol.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/EmitterView.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/EvolutionView.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Extensions.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/GeneView.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Generation.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/IsolationView.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/NaturalSelectionView.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/PlaceIndicator.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/ResultView.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SelectiveBreedingView.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Storage.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/ThatsItView.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/TitleView.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/WelcomeEmitterView.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/WelcomeView.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/YearIndicatorView.swift</key>
		<string>Removed</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
