<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>3EEB83E7-F664-45AF-AC5B-3DA7C3E30C7E.playgroundpage</string>
	</array>
</dict>
</plist>
